################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Countries/.vs/Countries/v16/Server/sqlite3
/Countries/Countries/bin/Debug/netcoreapp3.1
/Countries/Countries/obj
/Countries/.vs/Countries
/Countries/Countries.App/bin/Debug/netcoreapp3.1
/Countries/Countries.App/obj
/Countries/Countries.Shared/bin/Debug/netstandard2.0
/Countries/Countries.Shared/obj
