################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Countries/.vs/Countries/v16/Server/sqlite3
/Countries/Countries/bin/Debug/netcoreapp3.1
/Countries/Countries/obj
