################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Countries/.vs/Countries/v16/Server/sqlite3
