@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Radzen.Blazor
@inherits LayoutComponentBase
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager UriHelper

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

<RadzenHeader>
    <ChildContent>
        <NavHeader OnSideBarToogle="OnSideBarToogle" />
    </ChildContent>
</RadzenHeader>

<div style="width:100%">
    <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</div>

<RadzenSidebar @ref="@sidebar0" @bind-Expanded="@sidebarExpanded">
    <ChildContent>
        <NavMenu />
    </ChildContent>
</RadzenSidebar>

<RadzenFooter>
    <ChildContent>
        <RadzenLabel Text="Fmorales Dev, Copyright &copy; 2020">
        </RadzenLabel>
    </ChildContent>
</RadzenFooter>

@code{
    RadzenSidebar sidebar0;
    RadzenBody body0;
    bool sidebarExpanded = true;
    bool bodyExpanded = false;



    protected override void OnInitialized()
    {
        if (httpContextAccessor != null && httpContextAccessor.HttpContext != null &&
                httpContextAccessor.HttpContext.Request != null && httpContextAccessor.HttpContext.Request.Headers.ContainsKey("User-Agent"))
        {
            var userAgent = httpContextAccessor.HttpContext.Request.Headers["User-Agent"].FirstOrDefault();
            if (!string.IsNullOrEmpty(userAgent))
            {
                if (userAgent.Contains("iPhone") || userAgent.Contains("Android") || userAgent.Contains("Googlebot"))
                {
                    sidebarExpanded = false;
                    bodyExpanded = true;
                }
            }
        }
    }

    public void OnSideBarToogle(EventArgs args)
    {
        sidebarExpanded = !sidebarExpanded;
        bodyExpanded = !bodyExpanded;
    }



}
